@charset "UTF-8";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Animations
# Normalize
# Global
# Utils
# Document Layout
# Header
## Desktop Menu
## Mobile menu
## Tab menu
# Footer
## Footer menu
## Footer branding
# Page Common
# Slider Common
# Form common
# Home
## Home Hero
## Home Feature
## Home Plan
## Home Area
## Home Info
### Home Blog
### Home Voice
## Home Message
# Guide
# Plan
# Urgent
# Company
## Company philosophy
## Company outline
## Company history
# Staff
# FAQ
# Area
# Consult
# Request
# Member
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@-webkit-keyframes dropindown {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes dropindown {
	0% {
		transform: translate3d(0, -100%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

@-webkit-keyframes fade-out {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	line-height: 1.15;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
details, 
figcaption,
figure,
footer,
header,
main, 
menu,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
progress,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
progress {
	vertical-align: baseline;
}
template, 
[hidden] {
	display: none;
}
a {
	background-color: transparent;
	webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
	outline-width: 0;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
	font: inherit;
	margin: 0;
}
optgroup {
	font-weight: bold;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"], 
[type="reset"],
[type="submit"] {
	webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	outline-offset: -2px;
	webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	webkit-appearance: none;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-file-upload-button {
	font: inherit;
	webkit-appearance: button;
}


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 14px;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.25;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #000;
	background: #fff;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:active {
	color: #555;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

img.lazy,
img.maybe {
	display: none;
}

table {
	width: 100%;
}

small {
	font-size: 85%;
}

.warning {
	color: #FF0000;
}

/*
.document-wrapper {
	opacity: 0;
}

.window-loaded .document-wrapper {
	opacity: 1;

	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: fade-in;
	-webkit-animation-timing-function: ease;

	animation-duration: 0.4s;
	animation-name: fade-in;
	animation-timing-function: ease;
}
*/

/*--------------------------------------------------------------
# Utils
--------------------------------------------------------------*/
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	padding-left: 3%;
	padding-right: 3%;
}

.container--nopad {
	margin: 0 auto;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.container:after {
	content:"";
	display:block;
	clear:both;
}

.alt {
	display: none;
}


/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
	display: inline-block;
	color: #FFF;
	background: #414EAB;
	padding: 9px 14px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	border-radius: 4px;
}

.button:hover {
	color: #FFF;
}

.button-block {
	display: block;
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
}

.button-round {
	border-radius: 50px;
}

.button-large {
	padding: 12px 18px;
}

.button-arrow {
	position: relative;
	padding-right: 20px;
}

.button-arrow:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 7px;
	margin-top: -8px;
	width: 8px;
	height: 17px;
	background: url(../img/common/button-arrow.png);
	background-size: 8px 17px;
}

.button i {
	position: relative;
	top: -2px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 6px;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-size: 17px auto;
	background-position: 0 center;
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.icon-mail {
	background-image: url(../img/common/mail-icon.png);
}

/*--------------------------------------------------------------
# Document Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header-branding {
	display: table;
	width: 100%;
}

.site-header-logo {
	display: table-cell;
	width: 50%;
	padding: 15px 2.5% 15px 5%;
	vertical-align: middle;
	margin: 0;
	line-height: 0;
}

.site-header-button {
	display: table-cell;
	width: 50%;
	padding: 15px 5% 15px 2.5%;
	vertical-align: middle;
	text-align: right;
}

.site-header-button .button {
	background-color: #FF0000;
}


/*--------------------------------------------------------------
## Site nav
--------------------------------------------------------------*/
.navbar {
	height: 63px;
}

.navbar-float {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	height: 63px;
	border-top: 3px solid #FF0000;
	background: #FFF;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
}

.main-nav {
	position: relative;
	margin-right: 64px;
}
.main-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main-nav__item {
	float: left;
	width: 33.33333%;
	border-right: 1px solid #DDE2EC;
	white-space: nowrap;
}
.main-nav__item a {
	display: block;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.nav-toggle {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 64px;
	background: url(../img/common/nav-toggle.png) center center no-repeat;
	background-size: 32px auto;
}

@media screen and (max-width: 375px) {
	.main-nav__item a {
		font-size: 15px;
	}
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	background-color: #000;

	width: 260px;
	height: 100%;
	overflow-y: scroll;

	transition: -webkit-transform 0.3s;
	transition: -ms-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(260px);
	-ms-transform: translateX(260px);
	transform: translateX(260px);
}

.mobile-nav-open .mobile-nav {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.mobile-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav .mobile-nav__item {
  display: block;
  text-align: center;
  border-bottom: solid 1px #444;
}

.mobile-nav .mobile-nav__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

body.mobile-nav-open {
	overflow: hidden;
}

.document-wrapper,
.navbar-float,
.site-header-branding {
	transition: -webkit-transform 0.3s;
	transition: -ms-transform 0.3s;
	transition: transform 0.3s;
}

.mobile-nav-open .document-wrapper,
.mobile-nav-open .navbar-float,
.mobile-nav-open .site-header-branding  {
	-webkit-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	transform: translateX(-260px);
}


/*--------------------------------------------------------------
## Footer social
--------------------------------------------------------------*/
.site-footer-social {
	background: #EDEDED;
	padding: 5%;
	text-align: center;
}

.site-footer-social-icons a {
	display: inline-block;
	margin: 0 4%;
	max-width: 15%;
}


/*--------------------------------------------------------------
# Footer Links
--------------------------------------------------------------*/
.site-footer-links {
	padding: 3% 0 3%;
	background: #FF0000;
	color: #FFF;
}

.service-links__title {
	margin: 0 0 1%;
	font-size: 16px;
	font-size: 5vw;
	font-weight: normal;
	text-align: center;
}

.service-links__list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.service-links__item {
	float: left;
	width: 50%;
	padding: 2%;
	line-height: 0;
}

.service-links__item img {
	width: 100%;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 4% 0;
	background: #424348;
	color: #FFF;
}

.site-footer-nav {
	text-align: center;
}

.site-footer-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.site-footer-nav__item {
	display: inline;
	padding: 0 3%;
	border-left: 1px solid #FFF;
	border-left: 0.4vw solid #FFF;
	font-size: 11px;
	font-size: 3.4375vw;
}

.site-footer-nav__item:first-child {
	border-left: none;
}

.site-footer-nav a {
	color: #FFF;
	text-decoration: none;
}

.site-footer-nav a:hover {
	text-decoration: underline;
}

.site-footer-copyright {
	text-align: center;
	margin: 3% 0 0;
}

.site-footer-copyright small {
	font-size: 10px;
	font-size: 3.125vw;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.document-sidebar {
	padding: 4% 0;
	color: #FFF;
	background: #25272B;
}

.document-sidebar a {
	color: #FFF;
}

.document-sidebar a:hover {
	color: #CCC;
}

.sidebar-section__body {
	padding: 0 4%;
}

/* Sidebar social */
.sidebar-social {
	text-align: center;
}

.sidebar-social a {
	display: inline-block;
	margin: 0 2%;
	width: 37px;
	height: 37px;
	background-size: 37px 37px;
	text-indent: 37px;
	white-space: nowrap;
	overflow: hidden;
}

.sidebar-social .twitter {
	background-image: url(../img/sidebar/twitter-icon.png);
}

.sidebar-social .facebook {
	background-image: url(../img/sidebar/facebook-icon.png);
}

/* Sidebar search */
.sidebar-search {
	margin-top: 4%;
}

.sidebar-search__label {
	display: block;
	margin-right: 30px;
	margin-bottom: 2%;
	font-size: 14px;
	font-size: 4.375vw;
	text-align: center;
}

.sidebar-search__form {
	position: relative;
	margin: 0 auto;
	max-width: 300px;
	padding-right: 30px;
}

.sidebar-search__input {
	width: 100%;
	height: 34px;
	padding: 0 15px;
	color: #A9A8A8;
	border: 1px solid #CDCDCD;
	border-radius: 50px;
	background: #404141;
}

.sidebar-search__input:focus {
	outline: none;
}

.sidebar-search__submit {
	position: absolute;
	top: 50%;
	right: 0;
	border: none;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	background: url(../img/sidebar/search-icon.png) center center no-repeat;
	background-size: 20px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Sidebar ranking */
.sidebar-ranking {
	margin-top: 5%;
	padding: 5% 0;
	background: #000;
}

.sidebar-ranking__title {
	margin: 0;
	text-align: center;
	font-size: 22px;
	font-size: 7vw;
	font-weight: normal;
}

.sidebar-ranking__body {
	text-align: center;
}

.sidebar-ranking__list {
	display: table;
	list-style: none;
	margin: 2% auto;
	padding: 0;
	text-align: left;
}

.sidebar-ranking__item {
	display: block;
	margin-bottom: 2%;
}

.sidebar-ranking__item p {
	display: inline-block;
	margin: 0;
	font-size: 16px;
	font-size: 5vw;
	font-weight: 500;
}

.sidebar-ranking__item:first-child p {
	font-size: 22px;
	font-size: 7vw;
	border-bottom: 2px solid #FFF;
}

.sidebar-ranking__item:last-child {
	margin-bottom: 0;
}

.sidebar-ranking__item span {
	padding-right: 0.2em;
}

.sidebar-ranking__more {
	display: block;
	position: relative;
	margin: 3% auto 0;
	max-width: 300px;
	padding: 8px;
	text-align: center;
	border: 1px solid #FFF;
	border-radius: 50px;
	font-size: 18px;
	letter-spacing: -1px;
}
.sidebar-ranking__more:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 3%;
	margin-top: -9px;
	font-size: 18px;
	line-height: 1;
}

/* Sidebar voice */
.sidebar-voice,
.sidebar-news {
	margin: 5% 0;
}

.sidebar-voice__title,
.sidebar-news__title {
	position: relative;
	display: inline-block;
	margin: 0;
	background: #000;
	padding: 2% 6%;
	font-size: 16px;
	font-size: 5vw;
	font-weight: normal;
}

.sidebar-voice__list,
.sidebar-news__list {
	list-style: none;
	margin: 2% 0;
	padding: 0;
	border-top: 0.4vw solid #4A4C56;
}

.sidebar-voice__item,
.sidebar-news__item {
	padding: 4% 0;
	border-bottom: 1px solid #4A4C56;
}

.sidebar-voice__item p,
.sidebar-news__item p {
	margin: 0;
	font-size: 14px;
	font-size: 4.375vw;
	line-height: 1.6;
}

.sidebar-voice__more,
.sidebar-news__more {
	font-size: 14px;
	font-size: 4.375vw;
}

.sidebar-voice__more:after,
.sidebar-news__more:after {
	content: "\f105";
	font-family: FontAwesome;
	margin-left: 1.2%;
}

/* Sidebar news */
.sidebar-news {
	
}

/* Sidebar banner */
.sidebar-banner__item {
	padding: 3% 0;
	line-height: 0;
	text-align: center;
}


/*--------------------------------------------------------------
# Page Common
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
.home-slider .owl-prev,
.home-slider .owl-next {
	position: absolute;
	top: 50%;
	z-index: 10;
	margin-top: -16px;
	margin-top: -5vw;
	font-size: 32px;
	font-size: 10vw;
	color: #FFF;
	-moz-text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-ms-text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-slider .owl-prev {
	left: 1.2%;
}

.home-slider .owl-next {
	right: 1.2%;
}


.home-quote {
	background: #414EAB;
	padding: 5% 4%;
	text-align: center;
}

.home-quote-title {
	margin: 0;
	color: #FFF;
	font-size: 20px;
	font-size: 6vw;
	font-weight: normal;
}

.home-quote-buttons {
	overflow: hidden;
	margin: 0 -4%;
}

.home-quote-button {
	float: left;
	width: 50%;
	padding: 3% 4%;
}

.home-quote-button a {
	position: relative;
	display: block;
	border: 1px solid #FFF;
	border: 0.4vw solid #FFF;
	padding: 7% 6% 7% 3%;
	font-size: 16px;
	font-size: 5vw;
	color: #FFF;
}

.home-quote-button a:after {
    content: "\f105";
    font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -10px;
	margin-top: -3vw;
	font-size: 20px;
	font-size: 6vw;
	line-height: 1;
}

.home-quote-tel {
	margin-top: 2%;
}

/*--------------------------------------------------------------
## Home Hero
--------------------------------------------------------------*/
.home-hero {
	position: relative;
}

.home-hero img {
	width: 100%;
	height: auto;
}


/*--------------------------------------------------------------
## Home Recent
--------------------------------------------------------------*/
.home-recent {
	border-top: 2px solid #CFCFCF;
	border-top: 0.8vw solid #CFCFCF;
}

.home-recent-title {
	margin: 3%;
	font-size: 20px;
	font-size: 6vw;
	font-weight: normal;
	color: #FF0000;
	text-align: center;
}

.home-recent-list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #CFCFCF;
	border-top: 0.4vw solid #CFCFCF;
}

.home-recent-item {
	border-bottom: 1px solid #CFCFCF;
	border-bottom: 0.4vw solid #CFCFCF;
}

.home-recent-product {
	overflow: hidden;
}

.home-recent-product__link {
	position: relative;
	display: block;
	padding: 3%;
}

.home-recent-product__link:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 3%;
	margin-top: -10px;
	margin-top: -3vw;
	font-size: 20px;
	font-size: 6vw;
	line-height: 1;
}

.home-recent-product__link span {
	display: block;
}

.home-recent-product__image {
	float: left;
	width: 30%;
}

.home-recent-product__image img {
	width: 100%;
}

.home-recent-product__info {
	margin-left: 34%;
	font-size: 14px;
	font-size: 4.375vw;
}

.home-recent-product__brand {
	margin: 0 0 4%;
}

.home-recent-product__name {
	margin: 2% 0;
}

.home-recent-product__price {
	margin: 2% 0;
}

.home-recent-product__store {
	margin: 2% 0;
}

.home-recent-more {
	display: block;
	margin: 5% auto;
	text-align: center;
}

.home-recent-more a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 2%;
	max-width: 60%;
	font-size: 15px;
	font-size: 4.5vw;
	color: #000;
	border: 1px solid #000;
	border: 0.4vw solid #000;
	border-radius: 100px;
}

.home-recent-more a:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 6%;
	margin-top: -10px;
	margin-top: -3vw;
	font-size: 20px;
	font-size: 6vw;
	line-height: 1;
}


/*--------------------------------------------------------------
## Home Service
--------------------------------------------------------------*/
.home-service {
	border-top: 2px solid #CFCFCF;
	border-top: 0.8vw solid #CFCFCF;
}

.home-service-header {
	text-align: center;
}

.home-service-title {
	display: inline-block;
	margin: 2% auto 4%;
	padding: 2% 0;
	min-width: 50%;
	font-size: 16px;
	font-size: 5vw;
	color: #FF0000;
	border-bottom: 1px solid #CFCFCF;
	border-bottom: 0.4vw solid #CFCFCF;
}

.home-service-list {
	list-style: none;
	margin: 0 -1%;
	padding: 0;
	overflow: hidden;
}

.home-service-item {
	float: left;
	width: 33.33333%;
	padding: 0 1%;
}

.home-service-item img {
	width: 100%;
	height: auto;
}

.home-service-item .button {
	position: relative;
	display: block;
	margin-top: 3.3%;
	padding: 7.5% 6%;
	font-size: 11px;
	font-size: 3.44vw;
	line-height: 1;
}

.home-service-item .button:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -8px;
	margin-top: -2.5vw;
	font-size: 16px;
	font-size: 5vw;
	line-height: 1;
}


/*--------------------------------------------------------------
## Home Stores
--------------------------------------------------------------*/
.home-stores {
	margin-top: 8%;
	padding: 2% 0 4%;
	border-top: 2px solid #CFCFCF;
	border-top: 0.8vw solid #CFCFCF;
	background: #EDEDED;
}

.home-stores-header {
	text-align: center;
}

.home-stores-title {
	display: inline-block;
	margin: 0 auto 2%;
	padding: 2% 0;
	min-width: 50%;
	font-size: 16px;
	font-size: 5vw;
	color: #FF0000;
	border-bottom: 1px solid #CFCFCF;
	border-bottom: 0.4vw solid #CFCFCF;
}

.home-stores-description {
	text-align: center;
	margin: 2% 12%;
	font-size: 14px;
	font-size: 4.375vw;
	line-height: 1.6;
}

.home-stores-time {
	text-align: center;
	margin: 3% 0 0;
	font-size: 16px;
	font-size: 5vw;
}

.home-stores-time small {
	font-size: 12px;
	font-size: 3.75vw;
}

.home-stores-more {
	display: block;
	padding: 4%;
	text-align: center;
}

.home-stores-more a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 2%;
	max-width: 60%;
	font-size: 4.5vw;
	color: #FF0000;
	border: 1px solid #FF0000;
	border: 0.4vw solid #FF0000;
	border-radius: 100px;
	background: #FFF;
}

.home-stores-more a:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -10px;
	margin-top: -3vw;
	font-size: 20px;
	font-size: 6vw;
	line-height: 1;
}


/*--------------------------------------------------------------
## Home Contact
--------------------------------------------------------------*/
.home-contact {
	border-top: 2px solid #CFCFCF;
	border-top: 0.8vw solid #CFCFCF;
	padding-bottom: 4%;
}

.home-contact-header {
	text-align: center;
}

.home-contact-title {
	display: inline-block;
	margin: 2% auto 4%;
	padding: 2% 0;
	min-width: 50%;
	font-size: 16px;
	font-size: 5vw;
	color: #FF0000;
	border-bottom: 1px solid #CFCFCF;
	border-bottom: 0.4vw solid #CFCFCF;
}

.home-contact-methods {
	display: table;
	margin: 0 auto;
	width: 100%;
}

.home-contact-methods img {
	width: 100%;
}

.home-contact-tel,
.home-contact-email {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 2%;
}

.home-contact-email {
	text-align: center;
}
