@charset "UTF-8";

.page-west_03 .page-hero {
    background-image: url(../img/west_03/hero.jpg);
}


/*--------------------------------------------------------------
# Purchase Category List west_03
--------------------------------------------------------------*/
.purchase-category-section__list {
	overflow: hidden;
	list-style: none;
	margin: 0 -10px;
	padding: 0;
}

.purchase-category-section__item {
	float: left;
	width: 33.3333%;
	margin: 15px 0;
	padding: 0 10px;
}

.purchase-category-item {
	display: block;
	position: relative;
    border: 5px solid #EEEEEE;
}

.purchase-category-item__image {
	display: block;
	line-height: 0;
}

.purchase-category-item__image img {
	width: 100%;
	height: auto;
}

.purchase-category-item__name {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 9px 10px 8px 30px;
	font-size: 14px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.7) url(../img/home/category/more-icon.png) 7px center no-repeat;
	background-size: 18px 17px;
}

.purchase-category-section__message {
	margin: 20px 0 50px;
	text-align: center;
}


/*--------------------------------------------------------------
# Purchase Category Detail west_03_02
--------------------------------------------------------------*/
.purchase-category-description {
	overflow: hidden;
}

.purchase-category-description__image {
	float: left;
	width: 35%;
}

.purchase-category-description__image img {
	width: 100%;
}

.purchase-category-description__content {
	margin-left: 38%;
	font-size: 16px;
	line-height: 1.6;
}

/* Slider */
.purchase-product-slider-section {
	margin-top: 30px;
	padding: 30px 0 0;
	background: #EDEDED;
}

.purchase-product-slider-section__title {
	margin: 0 0 20px;
	text-align: center;
}

.purchase-product-slider .owl-prev {
	display: block;
	position: absolute;
	top: 40%;
	left: -16px;
	z-index: 10;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	background: url(../img/home/recent/prev.png) center center no-repeat;
}

.purchase-product-slider .owl-next {
	display: block;
	position: absolute;
	top: 40%;
	right: -16px;
	z-index: 10;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	background: url(../img/home/recent/next.png) center center no-repeat;
}

/* Category nav */
.purchase-category-browse-section {
	margin-bottom: -70px; /* minus footer margin-top */
}

.purchase-category-browse-section__title {
    margin: 40px 0 20px;
    padding-left: 0.5em;
    font-size: 26px;
    line-height: 1.1;
    color: #414DAB;
    border-left: 10px solid #414DAB;
}

.purchase-category-browse-section__body {
	padding: 30px 0;
	background: #EDEDED;
}

.purchase-category-browse-nav {
	float: left;
	width: 190px;
}

.purchase-category-browse-content {
	margin-left: 220px;
}

.purchase-category-browse-nav__title {
	margin: 0;
	color: #FFF;
	background: #25272B;
	text-align: center;
	font-size: 22px;
	font-weight: normal;
	line-height: 88px;
}

.purchase-category-browse-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.purchase-category-browse-nav__item {
	border-bottom: 1px solid #FFF;
}

.purchase-category-browse-nav__item:last-child {
	border-bottom: none;
}

.purchase-category-browse-nav__item a {
	display: block;
	color: #FFF;
	background: #414349;
	padding: 0 14px 0 28px;
	line-height: 53px;
}

.purchase-category-browse-nav__item a:hover {
	background: #63656A;
}

.purchase-category-browse-nav__item a.active {
	position: relative;
	font-weight: bold;
	color: #000;
	background: #FFF;
}

.purchase-category-browse-nav__item a.active:after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 0 12px 12px;
	border-color: transparent transparent transparent #ffffff;
}

.purchase-category-browse-content__list {
	margin: 0 -5px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.purchase-category-browse-content__item {
	float: left;
	width: 25%;
	margin-bottom: 20px;
	padding: 0 5px;
	box-sizing: border-box;
}

.purchase-category-browse-content-item__image {
	line-height: 0;
}

.purchase-category-browse-content-item__image a:hover {
	opacity: 0.8;
}

.purchase-category-browse-content-item__image img {
	width: 100%;
}

.purchase-category-browse-content-item__name {
	margin: 8px 0 0 0;
}

.purchase-category-browse-content .pagination .nav-links {
	text-align: right;
}
