@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 414px) {

/*
common
----------------------------------------------*/

.wrapper {
  width: 100%;
}


/*
header
----------------------------------------------*/

.header {
  height: 60px;
  position: relative;
  width: 100%;
}

.header_main {
  float: none;
  width: 100%;
  z-index: 100;
  height: 60px;
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.header.fixed + * {
  margin-top: 60px;
}

.header_logo {
  margin: 15px 0 0 10px;
}

.header_logo_img {
  width: 160px;
}


.header_spNav {
  display: block;
  position: absolute;
  right: 15px;
  top: 17px;
  width: 30px;
  height: 30px;
}

.header_spNav_bar {
  width: 30px;
  height: 3px;
  background: #454682;
  position: absolute;
  right: 0;
}

.header_spNav_bar {
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.header_spNav_bar:nth-child(1) {
  top: 0;
}
.header_spNav_bar:nth-child(2) {
  top: 11px;
}
.header_spNav_bar:nth-child(3) {
  top: 22px;
}

/* toggle open */

.open .header_spNav {
  background: #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.open .header_spNav_wrap {
  position: absolute;
  top: 4px;
  right: 5px;
}

.open .header_spNav_bar {
  width: 20px;
  height: 2px;
}

.open .header_spNav_bar:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open .header_spNav_bar:nth-child(2) {
  width: 0;
  left: 50%;
}

.open .header_spNav_bar:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* responsive用 menu */
.header_gn {
  height: auto;
  position: absolute;
  /* 開いてないときは画面外に配置 */
  top: -500px;
  right: 0;
  background: none;
  width: 50%;
  text-align: center;
  padding: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 10;
}


.header_gn ul {
  float: none;
}

.header_gn_item {
  float: none;
  border-bottom: 1px solid #fff;
}

.header_gn_item a {
  padding: 0 30px;
  line-height: 45px;
  text-align: left;
  background: #eee;
  font-weight: bold;
}

.header_gn_item-login a {
  background: #d61518;
}

.header_gn_item-contact a {
  background: #5a5c92;
}


.header.open .header_gn {
  /* #global-nav top + #mobile-head height */
  -moz-transform: translateY(560px);
  -webkit-transform: translateY(560px);
  transform: translateY(560px);
}

/*
footer
----------------------------------------------*/

.footer {
  padding: 20px 0;
  text-align: center;
}

.footer_list {
  margin: 0 auto 20px;
  width: 200px;
}

.footer_item {
  display: block;
  margin: 0 auto 10px;
  text-align: left;
  font-size: 14px;
}


/*
content
----------------------------------------------*/

/* hero */

.hero {
  height: calc(100vh - 60px);
  padding: 100px 10px 0;
}

.hero_tagline {
  font-size: 26px;
  line-height: 1.7;
}

.hero_tagline br {
  display: block;
}

.hero_features_list {
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.hero_features_item {
  font-size: 16px;
  background-size: 25px 20px;
  padding-left: 40px;
  letter-spacing: 0;
}

.hero_apply {
  width: 100%;
}


/* features */

.halfLayout {
  overflow: hidden;
  height: auto;
}

.halfLayout_left {
  float: none;
  width: 100%;
}

.halfLayout_right {
  float: none;
  width: 100%;
}

.features_1 {
  padding: 40px 20px;
}

.features_1_tagline {
  background: #fff;
  padding: 20px;
  font-size: 20px;
  margin-right: 0;
  position: relative;
  top: auto;
  margin-bottom: 40px;
}

.features_1_tagline:after {
  margin-left: -20px;
  bottom: -30px;
  border: 10px solid transparent;
  border-top: 40px solid #fff;
}

.features_1_tagline span {
  margin-left: 40px;
}

.features_1_text {
  font-size: 14px;
  position: static;
  bottom: auto;
  right: auto;
  margin-right: 0;
}

.features_1_text br {
  display: none;
}

.features_2 {
  padding: 40px 20px;
}

.features_2_tagline {
  padding: 20px;
  font-size: 20px;
  position: relative;
  left: auto;
  margin-left: 0;
  top: auto;
  margin-bottom: 40px;
}

.features_2_tagline:after {
  margin-left: -20px;
  bottom: -30px;
  border: 10px solid transparent;
  border-top: 40px solid #fff;
}

.features_2_tagline span {
  margin-left: 20px;
}

.features_2_text {
  font-size: 14px;
  position: static;
  bottom: auto;
  left: auto;
  margin-left: 0;
}

.features_2_text br {
  display: none;
}

/* efo_about */

.efoAbout {
  padding: 40px 0;
}

.efoAbout_title {
  font-size: 16px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.efoAbout_text {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0 10px;
}

.efoAbout_text .inline {
  display: none;
}

.efoAbout_text span {
  font-size: 18px;
}

.efoAbout_movie {
  display: none;
}


/* dream formで何ができる */

.df_features {
  padding: 40px 10px;
}

.df_features_title {
  font-size: 16px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #494b86;
  margin-bottom: 20px;
}

.df_features_list {
  margin: 0 -5px;
}

.df_features_item {
  width: calc(50% - 10px);
  margin: 0 5px 20px;
  padding: 10px;
  height: 240px;
}

.df_features_contentImg {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.df_features_numImg {
  margin-bottom: 10px;
  width: 25px;
  height: 20px;
}

.df_features_des {
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  text-align: justify;
}

/* price */

.price {
  padding: 60px 10px;
  background: #f0f0f0;
  text-align: center;
}

.price_title {
  font-size: 18px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #494b86;
  margin-bottom: 20px;
}

.price_table {
  font-size: 16px;
}

.price_table th,
.price_table td {
  padding: 10px;
}

.price_table th {
  width: auto;
}

.price_table td {
  padding-left: 20px;
}

/* 自動でできる */
.autoEfo {
  padding: 40px 10px;
}

.autoEfo_title {
  font-size: 16px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #494b86;
  margin-bottom: 20px;
}

.autoEfo_text {
  margin-bottom: 20px;
  padding: 0 10px;
}

.autoEfo_trial {
  width: 100%;
}

/* news */
.news {
  padding: 40px 10px;
}

.news_title {
  font-size: 16px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #494b86;
  margin-bottom: 20px;
}

.news_list {
  padding: 20px;
}

.news_item {
  font-size: 14px;
}

.news_item span {
  margin: 0 0 10px 0;
  display: block;
}


/* faq */
.faq {
  padding: 40px 10px;
}

.faq_title {
  font-size: 16px;
  padding: 0 10px 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.faq_list {
  padding: 10px 20px 20px;
  font-size: 14px;
}

.faq_item {
  padding: 10px 0 10px 40px;
}

.faq_item-q:before {
  font-size: 18px;
  left: 5px;
  top: 15px;
}

.faq_item-a:before {
  font-size: 16px;
  line-height: 25px;
  top: 15px;
  width: 25px;
  height: 25px;
}


}











