@charset "UTF-8";
/* CSS Document */


/*
common
----------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "sans-serif";
  font-size: 14px;
  background: #fff;
  color: #333;
}

a {
  outline: none;
  transition: .3s;
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: .7;
}


.cf:after {
  content: "";
  display: block;
  clear: both;
}


.wrapper {
  width: 1200px;
  margin: 0 auto;
}


/*
header
----------------------------------------------*/

.header {
  height: 80px;
}

.header_main {
  float: left;
  background: #fff;
  position: relative;
}

.header_logo {
  float: left;
  margin: 16px 0 0 53px;
}

.header_gn {
  float: right;
  overflow: hidden;
}

.header_gn ul {
  float: right;
}

.header_gn_item {
  float: left;
  background: #fff;
}

.header_gn_item a {
  line-height: 80px;
  padding: 0 30px;
  display: block;
}

.header_gn_item.active {
  background: #eee;
}

.header_gn_item-login a {
  color: #fff;
  background: #d61518;
}

.header_gn_item-contact a {
  color: #fff;
  background: #5a5c92;
}

.header_spNav {
  display: none;
}


/*
footer
----------------------------------------------*/

.footer {
  background: #5a5c92;
  padding: 40px 0 30px;
  color: #fff;
  text-align: center;
}

.footer_list {
  margin-bottom: 50px;
}

.footer_item {
  display: inline-block;
  margin: 0 20px;
}

.footer_item:before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  width: 6px;
  height: 6px;
  margin-top: 5px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer_item a {
  color: #fff;
}

.footer_copy {
  font-size: 11px;
}

/*
content
----------------------------------------------*/

/* hero */

.hero {
  height: 600px;
  text-align: center;
  padding-top: 100px;
  position: relative;
  background: url(../img/hero_img.png) no-repeat center center;
  background-size: cover;
}

.hero_tagline {
  font-size: 54px;
  color: #fff;
  letter-spacing: .1em;
  margin-bottom: 60px;
}

.hero_tagline br {
  display: none;
}

.hero_features_list {
  width: 710px;
  margin: 0 auto 80px;
  line-height: 1.4;
}

.hero_features_item {
  font-size: 28px;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  padding-left: 60px;
  background: url(../img/hero_check.png) no-repeat left center;
}


/* features */


.halfLayout {
  overflow: hidden;
  height: 480px;
}

.halfLayout_left {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.halfLayout_right {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

.features_1 {
  background: #eee;
}

.features_1_tagline {
  background: #fff;
  padding: 40px 30px 40px 60px;
  font-size: 36px;
  letter-spacing: .1em;
  font-weight: bold;
  line-height: 1.5;
  position: absolute;
  right: 0;
  margin-right: -50px;
  top: 60px;
  z-index: 1;
  color: #494b86;
}

.features_1_tagline:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -45px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 60px solid #fff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features_1_tagline span {
  margin-left: 90px;
}

.features_1_text {
  font-weight: bold;
  font-size: 18px;
  color: #494b86;
  line-height: 2;
  letter-spacing: .05em;
  position: absolute;
  bottom: 40px;
  right: 0;
  margin-right: -100px;
  z-index: 1;
}

.features_1_bg {
  background: url(../img/appeal_1_bg.png) no-repeat;
  background-size: cover;
}

.features_2 {
  background: #535353;
}

.features_2_tagline {
  background: #fff;
  padding: 40px 30px 40px 60px;
  font-size: 36px;
  letter-spacing: .1em;
  font-weight: bold;
  position: absolute;
  line-height: 1.5;
  left: 0;
  margin-left: -50px;
  top: 60px;
  z-index: 1;
  color: #494b86;
}

.features_2_tagline:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -45px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 60px solid #fff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.features_2_tagline span {
  margin-left: 50px;
}

.features_2_text {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  line-height: 2;
  letter-spacing: .05em;
  position: absolute;
  bottom: 40px;
  left: 0;
  margin-left: -50px;
  z-index: 1;
}


.features_2_bg {
  background: url(../img/appeal_2_bg.png) no-repeat;
  background-size: cover;
}

/* efo_about */

.efoAbout {
  padding: 80px 0 100px;
  background: #494b86;
  background: url(../img/pattern_bg_1.png) repeat;
  color: #fff;
  text-align: center;
}

.efoAbout_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #fff;
  margin-bottom: 40px;
}

.efoAbout_text {
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
  letter-spacing: .15em;
  margin-bottom: 60px;
}

.efoAbout_text span {
  color: #d74143;
  font-size: 22px;
}

.efoAbout_movie {
  background: #fff;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
}


/* dream formで何ができる */

.df_features {
  padding: 40px 0;
  text-align: center;
}

.df_features_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #494b86;
  margin-bottom: 40px;
  letter-spacing: .1em;
  color: #494b86;
}

.df_features_list {
  margin: 0 -15px;
  overflow: hidden;
}

.df_features_item {
  float: left;
  border: 3px solid #494b86;
  width: 380px;
  margin: 0 15px 30px;
  padding: 30px 60px;
  height: 400px;
}

.df_features_contentImg {
  width: 140px;
  height: 140px;
  background: #ccc;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.df_features_numImg {
  margin-bottom: 15px;
}

.df_features_des {
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: .05em;
  text-align: left;
}

/* price */

.price {
  padding: 60px 0 80px;
  background: url(../img/pattern_bg_2.png) repeat;
  text-align: center;
}

.price_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #494b86;
  margin-bottom: 40px;
  letter-spacing: .2em;
  color: #494b86;
}

.price_table {
  width: 100%;
  font-size: 26px;
}

.price_table th,
.price_table td {
  border: 3px solid #aaa;
  padding: 20px;
}

.price_table th {
  background: #494b86;
  color: #fff;
  width: 400px;
  font-weight: bold;
}

.price_table td {
  background: #fff;
  text-align: left;
  letter-spacing: .15em;
  padding-left: 50px;
}

/* 自動でできる */
.autoEfo {
  padding: 60px 0 80px;
  text-align: center;
}

.autoEfo_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #494b86;
  margin-bottom: 40px;
  letter-spacing: .2em;
  color: #494b86;
}

.autoEfo_text {
  color: #494b86;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 80px;
}


/* news */
.news {
  padding: 80px 0;
  background: #e5e5e5;
  text-align: center;
}

.news_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #494b86;
  margin-bottom: 40px;
  letter-spacing: .2em;
  color: #494b86;
}

.news_list {
  background: #fff;
  padding: 40px 110px 20px;
  color: #494b86;
}

.news_item {
  font-size: 16px;
  color: #494b86;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.news_item span {
  font-weight: bold;
  margin-right: 40px;
}

.news_list a {
  text-decoration: underline;
  color: #494b86;
}


/* faq */
.faq {
  background: url(../img/pattern_bg_1.png) repeat;
  padding: 60px 0 100px;
  text-align: center;
}

.faq_title {
  display: inline-block;
  font-size: 38px;
  padding: 0 20px 15px;
  border-bottom: 4px solid #fff;
  margin-bottom: 40px;
  letter-spacing: .2em;
  color: #fff;
}

.faq_list {
  padding: 40px 100px;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.faq_item {
  padding: 25px 0 25px 70px;
  border-bottom: 2px solid #d2d2d2;
  position: relative;
  color: #333;
  line-height: 1.5;
}

.faq_item-q:before {
  content: 'Q';
  font-weight: bold;
  font-size: 24px;
  color: #494b86;
  position: absolute;
  left: 10px;
  top: 20px;
}

.faq_item-a:before {
  content: 'A';
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 18px;
  width: 40px;
  height: 40px;
  background: #d84143;
}











