@charset "UTF-8";

@media screen and (max-width: 415px) {

/*
Common
------------------------------------------------------------*/

.wrapper {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.contact_mail_btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 13px 10px 10px 60px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 15px 17px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
}

.contact_mail_btn span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

/*
Layouts
------------------------------------------------------------*/

/* Header */

.header {
  z-index: 999;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee;
}

.header.fixed + section {
  margin-top: 70px;
}

.header_upper_logo img {
  width: 200px;
}

.header_upper {
  height: 64px;
  padding: 12px 0 8px;
  position: relative;
  z-index: 2;
}

.header_upper_right {
  display: none;
}

.header_upper_right-sp {
  display: block;
  margin-top: 10px;
  float: right;
}

/* responsive用 toggle */

.spNav_toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

.spNav_toggle_wrap {
  position: relative;
}

.spNav_toggle_wrap span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #05234c;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.spNav_toggle_wrap span:nth-child(1) {
  top: 0;
}
.spNav_toggle_wrap span:nth-child(2) {
  top: 11px;
}
.spNav_toggle_wrap span:nth-child(3) {
  top: 22px;
}

 /* spNav_toggle_wrap open時 切り替えアニメーション */
.open .spNav_toggle_wrap span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open .spNav_toggle_wrap span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open .spNav_toggle_wrap span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* responsive用 menu */
.header_lower {
  height: auto;
  position: absolute;
  /* 開いてないときは画面外に配置 */
  top: -500px;
  background: #333;
  width: 100%;
  text-align: center;
  padding: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 1;
}

.gNav:after {
  display: none;
}

.gNav_item {
  display: block;
  width: 100%;
  border-bottom: 1px solid #555;
}

.gNav_item:last-child {
  border-bottom: 0;
}

.gNav_item:after {
  display: none;
}

.gNav_item a {
  padding: 15px 10px;
  height: auto;
  font-size: 12px;
  font-weight: normal;
}

.gNav_item a span {
  display: inline;
  margin-left: 10px;
}

.header.open .header_lower {
  /* #global-nav top + #mobile-head height */
  -moz-transform: translateY(565px);
  -webkit-transform: translateY(565px);
  transform: translateY(565px);
}

/* Footer */

.footer {
  position: relative;
}

.footer_toTop {
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: 40px;
}

.footer_content {
  background: #05234c;
  color: #fff;
  padding: 95px 0 60px
}

.footer a {
  color: inherit;

}

.footer_left {
  float: left;
}

.footer_left img {
  margin-bottom: 20px;
}

.footer_left p,
.footer_left address {
  font-size: 14px;
  line-height: 1.6;
  font-style: normal;
  letter-spacing: .05em;
}

.footer_right {
  margin-top: 30px;
  float: right;
  overflow: hidden;
}

.footer_navList {
  float: left;
  margin-left: 80px;
}

.footer_navList li {
  margin-bottom: 15px;
  font-size: 13px;
  padding-left: 15px;
  background: url(../img/link_triangle.png) no-repeat left;
}

.footer_copy {
  height: 50px;
  padding-top: 20px;
  text-align: center;
  font-size: 10px;
}

/*
Componets
------------------------------------------------------------*/

/* page top */

.c-pageTop {
  height: 80px;
  padding: 15px 0;
}

.c-pageTop_title {
  font-size: 18px;
  padding: 4px 0 0 50px;
  background-size: 40px 40px;
}

.c-pageTop_title span {
  font-size: 10px;
}

.c-pageTop_title-question {
  padding-left: 0;
}

/* title bar */

.c-titleBar-1 {
  width: 100%;
  font-size: 18px;
}

.c-titleBar-2 {
  font-size: 18px;
  padding: 10px 20px;
}

.c-titleBar-3 {
  line-height: 1.4;
  font-size: 18px;
}

/* half layout */

.c-halfLayout {
  height: auto;
}

.c-halfLayout_left {
  float: none;
}

.c-halfLayout_right {
  float: none;
}

.c-halfLayout_left,
.c-halfLayout_right {
  width: 100%;
}

.c-halfLayout_tagline {
  height: 100px;
}

.c-halfLayout_left_tagline {
  font-size: 16px;
  right: auto;
  left: 20px;
  width: auto;
}

.c-halfLayout_left_sentence {
  position: static;
  width: 100%;
}

.c-halfLayout_right_tagline {
  width: 100%;
  text-align: left;
  font-size: 16px;
  left: 20px;
}

.c-halfLayout_right_sentence {
  width: 100%;
  line-height: 2;
  padding: 20px;
}

.c-linkContact {
  width: 100%;
  padding: 0 20px;
}

.c-linkContact a {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.4;
}

/* contact component */

.c-contact {
  padding: 40px 0;
  width: 100%;
}

.c-contact_contactBox {
  padding: 20px 0 20px;
  color: #fff;
}

.c-contact_contactBox h3 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.4em;
}

.c-contact_contactBox h3 br {
  display: block;
}

.c-contact_contactBox_inner {
  padding: 30px 15px;
}

.c-contact_contactBox_inner:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 50%;
  bottom: 18px;
  background: rgba(255,255,255, .8);
  width: 1px;
}

.c-contact_contactBox_list {
  overflow: hidden;
}

.c-contact_contactBox_item {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
}

.c-contact_contactBox_item-tel {
  text-align: left;
}

.c-contact_contactBox_item-tel img {
  width: calc(100% - 20px);
}

.c-contact_contactBox_item-tel p {
  font-size: 12px;
  letter-spacing: 0;
}

.c-contact_contactBox_item-mail {
  text-align: right;
}

.c-contact_contactBox_item_btn {
  width: calc(100% - 20px);
  padding: 8px 8px 10px 40px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 10px 15px;
  background-size: 20px 15px;
  font-size: 10px;
  height: auto;
}

.c-contact_contactBox_notice {
  font-size: 10px;
  padding: 0 15px;
  line-height: 1.4;
  margin: 0;
}

/* contact component inside */

.c-contact_step {
  padding: 20px;
  width: 100%;
}


.c-contact_step:after {
  display: none;
}

.c-contact_step_item {
  width: 100%;
  float: none;
}

.c-contact_step_item_tel {
  position: relative;
  margin-bottom: 15px;
}

/*
Top
------------------------------------------------------------*/

/* hero image */

.heroImage {
  height: 210px;
  padding-top: 20px;
  background-position: -20px -20px;
  background-size: 130%;
}

.heroImage h2 {
  font-size: 18px;
  line-height: 2em;
}

.heroImage h2 br {
  display: block;
}

/* appeal msg */

.appeal_msg {
  height: 150px;
  position: relative;
}

.appeal_msg_left {
  position: absolute;
  right: 50%;
}

.appeal_msg_right {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: auto;
  padding: 30px 0 0 0;
}

.appeal_msg_right h3 {
  letter-spacing: .2em;
  font-size: 15px;
  line-height: 2;

}

/* features */

.features_tagline-left .c-halfLayout_left_tagline {
  font-size: 16px;
  width: 100%;
}

.features_tagline-right .c-halfLayout_right_tagline {
  width: 100%;
  left: auto;
  right: 20px;
}

.features_sentece-right p {
  padding: 20px;
}

.features_sentece-left p {
  padding: 20px;
}

/* appeal_msg_lower */

.appeal_msg_lower {
  height: 250px;
}

.appeal_msg_lower_left {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
}

.appeal_msg_lower_right {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  padding: 0;
}

.appeal_msg_lower_right h3 {
  padding: 20px;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.6;
}

.appeal_msg_lower_right h3 br {
  display: block;
}

.appeal_msg_list {
  float: none;
  padding: 0 5px;
}

.appeal_msg_list li {
  float: left;
  margin: 0 5px;
  width: calc(33% - 10px);
}

.appeal_msg_list li:first-child {
  margin: 0 5px;
}

.appeal_msg_list li img {
  width: 100%;
}

/* news */

.news {
  height: auto;
}

.news_left {
  background: #05234c;
  position: static;
  margin-right: 0;
  height: 120px;
}

.news_left_title {
  width: 100%;
  padding-top: 40px;
  position: static;
  text-align: center;
}

.news_left_title span {
  padding-left: 0;
}

.news_right {
  padding: 0 0 40px 0;
  margin-left: 0;
  position: static;
  width: 100%;
  background: #fff;
}

.news_list_item {
  margin-bottom: 0;
  border-bottom: 1px dashed #ccc;
  padding: 30px 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news_list_item span {
  display: block;
  margin-bottom: 10px;
}

.news_list_item a {
  color: #000
}

.news_list_item span {
  margin-right: 20px;
}

.news_seeAll a {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #05234c;
  padding-left: 15px;
  background: url(../img/link_trianlgle_colored.png) no-repeat left;
}

/* access */

.topAccess {
  width: 100%;
}

.topAccess_accessBox {
  padding: 0;
}

.topAccess_accessBox_left {
  float: none;
  width: 100%;
  text-align: center;
  padding: 80px 0 10px;
}

.topAccess_accessBox_title {
  margin-bottom: 20px;
}

.topAccess_accessBox_title span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.topAccess_accessBox_right {
  float: none;
  width: 100%;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.topAccess_accessBox_right iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/*
Contact
------------------------------------------------------------*/

.contact_info {
  padding: 0;
}

.contact_info_text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact_info_detail img {
  padding: 0;
  margin-bottom: 20px;
}

.contact_info_detail p {
  margin: 0;
}

.contact_form {
  padding: 0;
}

.contact_form_required {
  margin: 0 0 20px 0;
}

.contact_form li {
  margin-bottom: 20px;
}

.contact_form_left {
  position: static;
  margin: 0 0 8px 0;
  display: block;
}

.contact_form_right {
  margin: 0;
  position: relative;
}

.contact_form-tel {
  width: 100%;
}

.contact_form-mail {
  width: 100%;
}

.contact_form-addr {
  width: 200px;
  margin-bottom: 20px;
  vertical-align: top;
}

.contact_form-zip {
  margin: 0 0 20px 0;
}

.contact_form-radio {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact_form-radio input {
  margin-right: 15px;
}

.contact_submitBtn {
  background: #ff9606;
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}

/*
second opinion
------------------------------------------------------------*/

.so_sentence {
  padding: 20px;
}

.so_trouble {
  padding: 20px;
  width: 100%;
}

.so_trouble_title {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.so_trouble_title br {
  display: block;
}

.so_trouble_list {
  padding: 10px 20px 30px;
  margin-bottom: 20px;
}

.so_trouble_item {
  padding: 10px 0 10px 30px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
}

.so_trouble_item:after {
  left: 0;
  top: 13px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00224c;
  border: 4px solid #fff;
}

/*
questions
------------------------------------------------------------*/

.questions_list {
  margin-bottom: 50px;
}

.questions_item {
  padding: 0 0 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.questions_item_q {
  margin-bottom: 20px;
  padding-left: 40px;
}

.questions_item_a {
  position: relative;
  padding-left: 40px;
}

.questions_item_q:before,
.questions_item_a:before {
  line-height: 30px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  left: 0;
  top: -5px;
}

/*
company profile
------------------------------------------------------------*/

.companyProfile {
  padding: 40px 0;
}

.companyProfile_item {
  padding: 50px 0 0 0;
}

.companyProfile_item:before {
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 18px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.companyProfile_item-1:before {
  content: '1';
}

.companyProfile_item-2:before {
  content: '2';
}

.companyProfile_item-3:before {
  content: '3';
}

.memberProfile {
  margin-bottom: 40px;
}

.memberProfile .c-titleBar-1 {
  width: calc(100% - 40px);
}

.profile_list_overall {
  height: auto;
}

.profile_list_left {
  position: relative;
  margin-left: 0;
  width: 100%;
}

.profile_list_left_name {
  padding: 20px 20px 0 20px;
  position: relative;
}

.profile_list_left h4 {
  font-size: 20px;
}

.profile_list_left p {
  font-size: 12px;
  border-top: 1px solid #fff;
  text-align: right;
  position: static;
  padding: 10px 20px;
}

.profile_list_right {
  float: noen;
  width: 100%;
  padding: 20px;
}

.profile_list_message {
  padding: 0;
  margin-bottom: 40px;
}

.companyProfile_overall {
  width: 100%;
  margin: 0 auto 80px;
}

.companyProfile_overall .c-titleBar-1 {
  width: calc(100% - 40px);
}

.companyProfile_overall_content {
  padding: 20px;
}

.companyProfile_overall_item {
  position: relative;
  padding-left: 100px;
  line-height: 1.5;
}

.companyProfile_overall_item span {
  position: absolute;
  left: 0;
}

.companyProfile_overall_map {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.companyProfile_overall_map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
antemortem measure
------------------------------------------------------------*/

.am_pageTop {
  height: 115px;
}

.am_pageTop_bg {
  background-size: 250px 115px;
  height: 115px;
  width: 250px;
  right: 50%;
  margin-right: 0;
}

.am_pageTop_title {
  font-size: 18px;
  position: absolute;
  right: 20px;
  margin-right: 0;
  top: 35px;
}

.am_pageTop_title span {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

.am_intro {
  padding: 20px 0 40px;
}

.am_intro .wrapper {
  padding: 0 20px;
}

.am_intro_text {
  line-height: 2;
}

.am_features {
  margin-bottom: 40px;
}

.am_features .c-halfLayout {
  height: auto;
}

.am_features h3 span {
  background: rgba(255, 255, 255, .2);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  padding-left: 6px;
}

.am_features .c-halfLayout_right_sentence {
  padding: 20px;
}

.am_features .c-halfLayout_left_sentence {
  padding: 20px;
}

.am_step {
  margin-bottom: 40px;
}

/* step list component */

.c-step_list {
  padding-left: 0;
}

.c-step_item {
  padding-left: 0;
  margin-bottom: 20px;
}

.c-step_item_num {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.c-step_item_num-l {
  height: auto;
}

.c-step_item_num:after {
  display: none;
}

.c-step_item_num span {
  font-size: 18px;
  display: inline;
  margin: 0 0 0 10px;
}

.c-step_item_title {
  font-size: 18px;
}

.c-step_item_text {
  line-height: 2;
}

/*
inheritance tax return
------------------------------------------------------------*/

.itr {
  height: auto;
}

.itr .c-halfLayout_left_sentence {
  padding: 20px;
}

.itr_step {
  margin-bottom: 80px;
}


.itr_step .c-step_item {
  margin-bottom: 40px;
}

/*
price list
------------------------------------------------------------*/

.pl_intro .wrapper {
  padding: 0 20px;
}

.pl_table {
  margin: 40px 0;
}

.pl_table th,
.pl_table td {
  padding: 15px 0;
  font-size: 14px;
}

.pl_table_content {
  padding: 0;
}

.pl_table_upper {
  margin-bottom: 40px;
}

.pl_table_upper thead th {
  padding: 10px;
}

.pl_table_upper tbody th {
  text-align: left;
  padding-left: 0;
}

.pl_table_upper tbody td {
  padding-left: 10px;
}

.pl_table_lower td span {
  font-size: 14px;
}

.otherPrice_content {
  padding: 0;
}

.otherPrice_content p {
  margin-bottom: 40px;
}


} /* responsive */
