@charset "UTF-8";

@media screen and (max-width: 415px) {


/*******************
Common
********************/


.wrapper {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.contact_mail_btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 13px 10px 10px 60px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 15px 17px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
}

.contact_mail_btn span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

/*******************
Header
********************/

.header_upper_logo img {
  width: 200px;
}

.header_upper {
  height: 64px;
  padding: 10px 0;
}

.header_upper_right {
  display: none;
}

.header_upper_right-sp {
  display: block;
  margin-top: 10px;
  float: right;
}

.header_upper_right-sp img {
  width: 30px;
  height: 23px;
}
/*
.header_upper_right li {
  float: left;
  margin-left: 30px;
}

.header_upper_item-tel {
  padding-top: 6px;
}

.header_upper_item-tel img {
  margin-bottom: 5px;
}

.header_upper_item-tel p {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  color: #000;
}*/

.header_lower {
  display: none;
  /*background: url(../img/header_nav_bg.png) repeat-x;*/
}

/*.gNav {
  display: table;
  width: 100%;
  position: relative;
}*/
/*
.gNav:after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 15px;
  background: rgba(255,255,255, .1);
  width: 1px;
}

.gNav_item {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 16.6%;
}

.gNav_item:after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 15px;
  background: rgba(255,255,255, .1);
  width: 1px;
}

.gNav_item a {
  font-weight: bold;
  color: #fff;
  display: block;
  height: 70px;
  padding: 20px;
  letter-spacing: .07em;
}

.gNav_item a span {
  display: block;
  font-size: 9px;
  letter-spacing: 0;
  margin-top: 5px;
}*/

/*******************
Footer
********************/


.footer {
  position: relative;
}

.footer_toTop {
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: 40px;
}

.footer_content {
  background: #05234c;
  color: #fff;
  padding: 95px 0 60px
}

.footer a {
  color: inherit;

}

.footer_left {
  float: left;
}

.footer_left img {
  margin-bottom: 20px;
}

.footer_left p,
.footer_left address {
  font-size: 14px;
  line-height: 1.6;
  font-style: normal;
  letter-spacing: .05em;
}

.footer_right {
  margin-top: 30px;
  float: right;
  overflow: hidden;
}

.footer_navList {
  float: left;
  margin-left: 80px;
}

.footer_navList li {
  margin-bottom: 15px;
  font-size: 13px;
  padding-left: 15px;
  background: url(../img/link_triangle.png) no-repeat left;
}

.footer_copy {
  height: 50px;
  padding-top: 20px;
  text-align: center;
  font-size: 10px;
}


/*******************
Top
********************/

/******** hero image *******/

.heroImage {
  height: 210px;
  padding-top: 20px;
  background-position: -20px -20px;
  background-size: 130%;
}

.heroImage h2 {
  font-size: 18px;
  line-height: 2em;
}

.heroImage h2 br {
  display: block;
}


/******** appeal msg *******/

.appeal_msg {
  height: 150px;
  position: relative;
}

.appeal_msg_left {
  position: absolute;
  right: 50%;
}

.appeal_msg_right {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: auto;
  padding: 30px 0 0 0;
}

.appeal_msg_right h3 {
  letter-spacing: .2em;
  font-size: 15px;
  line-height: 2;

}


/******** features *******/

.features {
  height: auto;
}

.features_left,
.features_right {
  width: 100%;
  height: 100%;
}

.features_left {
  float: none;
}

.features_right {
  float: none;
}

.features_tagline {
  height: 100px;
}

.features_tagline-left h3,
.features_tagline-right h3 {
  padding: 25px 20px;
  font-size: 16px;
  position: static;
  width: 100%;
}

.features_sentece-left p,
.features_sentece-right p {
  width: 100%;
}

.features_sentece-right p {
  padding: 20px;
}

.features_sentece-left p {
  padding: 20px;
  position: absolute;
  right: 0;
}


/******** appeal_msg_lower *******/

.appeal_msg_lower {
  height: 250px;
}

.appeal_msg_lower_left {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
}

.appeal_msg_lower_right {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  padding: 0;
}

.appeal_msg_lower_right h3 {
  padding: 20px;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.6;
}

.appeal_msg_lower_right h3 br {
  display: block;
}

.appeal_msg_list {
  float: none;
  padding: 0 5px;
}

.appeal_msg_list li {
  float: left;
  margin: 0 5px;
  width: calc(33% - 10px);
}

.appeal_msg_list li:first-child {
  margin: 0 5px;
}

.appeal_msg_list li img {
  width: 100%;
}

/******** news *******/
.news {
  height: auto;
}

.news_left {
  background: #05234c;
  position: static;
  margin-right: 0;
  height: 120px;
}

.news_left_title {
  width: 100%;
  padding-top: 40px;
  position: static;
  text-align: center;
}

.news_left_title span {
  padding-left: 0;
}

.news_right {
  padding: 0 0 40px 0;
  margin-left: 0;
  position: static;
  width: 100%;
  background: #fff;
}

.news_list_item {
  margin-bottom: 0;
  border-bottom: 1px dashed #ccc;
  padding: 30px 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news_list_item span {
  display: block;
  margin-bottom: 10px;
}

.news_list_item a {
  color: #000
}

.news_list_item span {
  margin-right: 20px;
}

.news_seeAll a {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #05234c;
  padding-left: 15px;
  background: url(../img/link_trianlgle_colored.png) no-repeat left;
}

/******** contact *******/

.contact {
  padding: 40px 0;
  width: 100%;
}

.contact_contactBox {
  padding: 20px 0 20px;
  color: #fff;
}

.contact_contactBox h3 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.4em;
}

.contact_contactBox h3 br {
  display: block;
}

.contact_contactBox_inner {
  padding: 30px 15px;
}


.contact_contactBox_inner:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 50%;
  bottom: 18px;
  background: rgba(255,255,255, .8);
  width: 1px;
}

.contact_contactBox_list {
  overflow: hidden;
}

.contact_contactBox_item {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
}

.contact_contactBox_item-tel {
  text-align: left;
}

.contact_contactBox_item-tel img {
  width: calc(100% - 20px);
}

.contact_contactBox_item-tel p {
  font-size: 12px;
  letter-spacing: 0;
}

.contact_contactBox_item-mail {
  text-align: right;
}

.contact_contactBox_item_btn {
  width: calc(100% - 20px);
  padding: 8px 8px 10px 40px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 10px 15px;
  background-size: 20px 15px;
  font-size: 10px;
  height: auto;
}

.contact_contactBox_notice {
  font-size: 10px;
  padding: 0 15px;
  line-height: 1.4;
  margin: 0;
}

.contact_accessBox {
  padding: 0;
}

.contact_accessBox_left {
  float: none;
  width: 100%;
  text-align: center;
  padding: 80px 0 10px;
}

.contact_accessBox_title {
  margin-bottom: 20px;
}

.contact_accessBox_title span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.contact_accessBox_right {
  float: none;
  width: 100%;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.contact_accessBox_right iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

} /* responsive */





