@charset "UTF-8";


/*******************
Common
********************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "sans-serif";
  font-size: 14px;
  color: #3a3a3a;
  background: #fff;
}

a {
  outline: none;
  transition: .15s;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}


.wrapper {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/*******************
Conponents
********************/


.contact_mail_btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 13px 10px 10px 60px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 15px 17px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
}

.contact_mail_btn span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}


/* page top */
.c-pageTop {
  height: 116px;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.c-pageTop-1 {
  background: #d7e4e0 url(../img/page_top_bg_1.png) no-repeat center center;
}

.c-pageTop-2 {
  background: #d9d1cc url(../img/page_top_bg_2.png) no-repeat center center;
}

.c-pageTop_title {
  display: inline-block;
  font-size: 24px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: .25em;
  text-align: left;
  padding: 4px 0 0 70px;
}

.c-pageTop_title span {
  display: block;
  margin: 10px 0 2px 2px;
  font-size: 14px;
  letter-spacing: .2em;
}

.c-pageTop_title-itr {
  background: url(../img/pg_top_icon_itr.png) no-repeat left center;
}

.c-pageTop_title-cp {
  background: url(../img/pg_top_icon_cp.png) no-repeat left center;
}

.c-pageTop_title-contact {
  background: url(../img/pg_top_icon_contact.png) no-repeat left center;
}

.c-pageTop_title-price {
  background: url(../img/pg_top_icon_price.png) no-repeat left center;
}

.c-pageTop_title-so {
  background: url(../img/pg_top_icon_so.png) no-repeat left center;
}

.c-pageTop_title-question {
  padding-left: 0;
}

/* breadcrumbs */
.c-breadcrumbs {
  padding: 15px 0;
  font-size: 11px;
}

.c-breadcrumbs_list li {
  display: inline-block;
}

.c-breadcrumbs_list span {
  padding: 0 7px;
  font-size: 12px;
}

.c-breadcrumbs_list a {
  color: #00b7ee;
}




/* title bar */

.c-titleBar-1 {
  padding: 8px;
  color: #00224c;
  font-weight: bold;
  border: 1px solid #999;
  font-size: 22px;
  margin: 0 auto 40px;
  letter-spacing: .05em;
  text-align: center;
  border-bottom: 6px solid #114183;
  width: 660px;
}

.c-titleBar-2 {
  font-size: 25px;
  padding: 8px 30px;
  background: #114183;
  font-weight: bold;
  color: #fff;
  margin: 40px 0;
  letter-spacing: .1em;
}

.c-titleBar-3 {
  color: #e68500;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: .2em;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}


/* form */
.c-form-basic {
  border: 1px solid #9b9b9b;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* btn */
.c-btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


/* half layout */

.c-halfLayout {
  height: 410px;
}

.c-halfLayout_left {
  float: left;
}

.c-halfLayout_right {
  float: right;
}

.c-halfLayout_left,
.c-halfLayout_right {
  width: 50%;
  height: 100%;
  position: relative;
}

.c-halfLayout_left_tagline {
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: .25em;
  width: 500px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0%, -50%);
  color: #fff;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.c-halfLayout_left_sentence {
  position: absolute;
  width: 500px;
  right: 0;
  line-height: 2;
}

.c-halfLayout_right_tagline {
  width: 500px;
  font-size: 24px;
  color: #fff;
  letter-spacing: .25em;
  line-height: 2;
  text-align: right;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0%, -50%);
}

.c-halfLayout_right_sentence {
  width: 500px;
  line-height: 2;
}


.c-linkContact {
  width: 730px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.c-linkContact a {
  border: 1px solid #00224c;
  padding: 22px 20px;
  display: block;
  font-size: 22px;
  color: #00224c;
}


/*******************
Header
********************/

.header {

}

.header_upper_logo {
  float: left;
}

.header_upper {
  height: 105px;
  padding: 20px 0;
}

.header_upper_right {
  float: right;
}


.header_upper_right-sp {
  display: none; /* sp用 */
}

.header_upper_right li {
  float: left;
  margin-left: 30px;
}

.header_upper_item-tel {
  padding-top: 6px;
}

.header_upper_item-tel img {
  margin-bottom: 5px;
}

.header_upper_item-tel p {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  color: #000;
}

.header_lower {
  height: 70px;
  background: url(../img/header_nav_bg.png) repeat-x;
}

.gNav {
  display: table;
  width: 100%;
  position: relative;
}

.gNav:after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 15px;
  background: rgba(255,255,255, .1);
  width: 1px;
}

.gNav_item {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 16.6%;
  font-size: 16px;
}

.gNav_item:after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 15px;
  background: rgba(255,255,255, .1);
  width: 1px;
}

.gNav_item a {
  font-weight: bold;
  color: #fff;
  display: block;
  height: 70px;
  padding: 20px;
  letter-spacing: .07em;
}

.gNav_item a span {
  display: block;
  font-size: 9px;
  letter-spacing: 0;
  margin-top: 5px;
}

/*******************
Footer
********************/


.footer {
  margin-top: 40px;
  position: relative;
}

.footer_toTop {
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: 40px;
}

.footer_content {
  background: #05234c;
  color: #fff;
  padding: 95px 0 60px
}

.footer a {
  color: inherit;

}

.footer_left {
  float: left;
}

.footer_left img {
  margin-bottom: 20px;
}

.footer_left p,
.footer_left address {
  font-size: 14px;
  line-height: 1.6;
  font-style: normal;
  letter-spacing: .05em;
}

.footer_right {
  margin-top: 30px;
  float: right;
  overflow: hidden;
}

.footer_navList {
  float: left;
  margin-left: 80px;
}

.footer_navList li {
  margin-bottom: 15px;
  font-size: 13px;
  padding-left: 15px;
  background: url(../img/link_triangle.png) no-repeat left;
}

.footer_copy {
  height: 50px;
  padding-top: 20px;
  text-align: center;
  font-size: 10px;
}


/*******************
Top
********************/

/******** hero image *******/

.heroImage {
  height: 420px;
  padding-top: 60px;
  background: url(../img/index_hero_img.png) no-repeat center -140px;
  background-size: cover;
}

.heroImage h2 {
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 30px;
  letter-spacing: .3em;
  color: #fff;
}

.heroImage h2 br {
  display: none;
}



/******** appeal msg *******/

.appeal_msg {
  background: #deebf0;
  height: 300px;
}

.appeal_msg_left {
  width: 50%;
  float: left;
  height: 100%;
  background: url(../img/appeal_msg.png) no-repeat right;
  background-size: cover;
}

.appeal_msg_right {
  width: 50%;
  float: right;
  padding: 70px 0 0 70px;
}

.appeal_msg_right h3 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: .3em;
  font-size: 25px;
  line-height: 2;

}


/******** features *******/

.features {
  height: 410px;
  overflow: hidden;
}

.features_left,
.features_right {
  width: 50%;
  height: 100%;
  position: relative;
}

.features_left {
  float: left;
}

.features_right {
  float: right;
}

.features_tagline-left {
  background: url(../img/features_1.png) no-repeat right;
  background-size: cover;
}

.features_tagline-right {
  background: url(../img/features_2.png) no-repeat left;
  background-size: cover;
}

.features_tagline-left h3,
.features_tagline-right h3 {
  padding-top: 160px;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: .25em;
  position: absolute;
  width: 500px;
  color: #fff;
}

.features_tagline-left h3 {
  right: 0;
}

.features_tagline-right h3 {
  text-align: right;
}


.features_sentece-left p,
.features_sentece-right p {
  line-height: 1.75;
  font-size: 14px;
  width: 500px;
}

.features_sentece-right p {
  padding: 80px 0 0 60px;
}

.features_sentece-left p {
  padding: 30px 40px 0 0;
  position: absolute;
  right: 0;
}





/******** appeal_msg_lower *******/

.appeal_msg_lower {
  height: 380px;
  position: relative;
}

.appeal_msg_lower_left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 90px;
  background: url(../img/appeal_msg_lower.png) no-repeat top right;
  background-size: cover;
}

.appeal_msg_lower_right {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  padding-top: 60px;
}

.appeal_msg_lower_right h3 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: .07em;
  font-size: 25px;
  margin-bottom: 40px;
}

.appeal_msg_lower_right h3 br {
  display: none;
}

.appeal_msg_list {
  overflow: hidden;
  float: right;
}

.appeal_msg_list li {
  float: left;
  margin-left: 27px;
}

.appeal_msg_list li:first-child {
  margin: 0;
}

/******** news *******/
.news {
  background: #eee;
  height: 280px;
  position: relative;
}

.news_left {
  background: #05234c;
  position: absolute;
  right: 50%;
  width: 100%;
  margin-right: 270px;
  height: 100%;
}

.news_left_title {
  width: 230px;
  padding-top: 120px;
  color: #fff;
  position: absolute;
  right: 0;
  font-size: 18px;
  line-height: 1.4;
}

.news_left_title span {
  padding-left: 10px;
  display: block;
}

.news_right {
  padding: 80px 0 20px 100px;
  position: absolute;
  left: 50%;
  margin-left: -270px;
  width: 750px;
}

.news_list_item {
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news_list_item a {
  color: #000
}

.news_list_item span {
  margin-right: 20px;
}

.news_seeAll a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #05234c;
  padding-left: 15px;
  background: url(../img/link_trianlgle_colored.png) no-repeat left;
}


/******** contact *******/

.contact {
  padding-bottom: 100px;
}

.contact_info {
  text-align: center;
  padding: 20px 170px;
}

.contact_info_text {
  font-size: 14px;
  margin-bottom: 40px;
}

.contact_info_detail {
  text-align: center;
  margin-bottom: 30px;
}

.contact_info_detail img {
  display: inline-block;
  padding-right: 20px;
}

.contact_info_detail p {
  display: inline-block;
  background: #ffcd88;
  padding: 12px 25px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  vertical-align: top;
}

.contact_form {
  padding: 0 100px;
}

.contact_form_required {
  margin-left: 290px;
  color: #c00013;
  margin-bottom: 40px;
  font-weight: bold;
}

.contact_form li {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.contact_form_left {
  width: 260px;
  color: #00224d;
  font-size: 16px;
  font-weight: bold;
  margin: 9px 30px 0 0;
  position: absolute;
}

.contact_form label span {
  padding-left: 40px;
  color: #c00013;
  font-size: 20px;
}

.contact_form_right {
  margin-left: 290px;
}

.contact_form-tel {
  width: 300px;
}

.contact_form-mail {
  width: 440px;
}

.contact_form-addr {
  width: 200px;
  margin-bottom: 20px;
  vertical-align: top;
}

.contact_form-zip {
  background: #103d7a;
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
}

.contact_form-radio {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact_form-radio input {
  margin-right: 15px;
}

.contact_submitBtn {
  background: #ff9606;
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}



/******** contact component *******/

.c-contact {
  padding: 40px 0;
  width: 1000px;
  margin: 0 auto;
}

.c-contact_contactBox {
  background: url(../img/contact_bg.png) no-repeat;
  padding: 40px 148px 20px;
  color: #fff;
}

.c-contact_contactBox h3 {
  font-size: 23px;
  text-align: center;
  letter-spacing: .09em;
  margin-bottom: 15px;
  font-weight: bold;
}

.c-contact_contactBox h3 br {
  display: none;
}

.c-contact_contactBox_inner {
  background: rgba(255,255,255,.4);
  padding: 30px 0;
  margin-bottom: 15px;
  position: relative;
}


.c-contact_contactBox_inner:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 50%;
  bottom: 18px;
  background: rgba(255,255,255, .8);
  width: 1px;
}

.c-contact_contactBox_list {
  overflow: hidden;
}

.c-contact_contactBox_item {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
}

.c-contact_contactBox_item-tel {
  position: relative;
}

.c-contact_contactBox_item-tel p {
  margin-top: 5px;
  color: #000;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 16px;
}

.c-contact_contactBox_item_btn {
  display: inline-block;
  text-align: left;
  line-height: 1.3;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 10px 60px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 15px 17px;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
}


.c-contact_contactBox_notice {
  font-size: 13px;
  line-height: 1.4;
  margin-left: 30px;
}

/******** contact component inside *******/

.c-contact_step {
  background: #f4f4f4;
  padding: 30px 0;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
  width: 680px;
}


.c-contact_step:after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 50%;
  bottom: 18px;
  background: #e6e6e6;
  width: 1px;
}

.c-contact_step_list {
  overflow: hidden;
}

.c-contact_step_item {
  width: 50%;
  text-align: center;
  float: left;
  position: relative;
}

.c-contact_step_item_tel {
  position: relative;
}

.c-contact_step_item_tel p {
  margin-top: 5px;
  color: #000;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 16px;
}

.c-contact_step_item_btn {
  display: inline-block;
  text-align: left;
  line-height: 1.3;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 10px 60px;
  background: #ff9606 url(../img/mail_icon.png) no-repeat 15px 17px;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
}


/* top access */

.topAccess {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.topAccess_accessBox {
  overflow: hidden;
}

.topAccess_accessBox_left {
  float: left;
  width: 390px;
  text-align: center;
  padding-top: 80px;
}

.topAccess_accessBox_title {
  margin-bottom: 20px;
}

.topAccess_accessBox_title span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.topAccess_accessBox_left address {
  font-style: normal;
  line-height: 1.6em;
}

.topAccess_accessBox_right {
  float: right;
  width: 610px;
}


/******** second opinion *******/

.so_tagline {
  background: url(../img/second_opinion.png) no-repeat;
  background-size: cover;
}

.so_sentence {
  padding: 30px 10px 20px 20px;
  line-height: 2;
}

.so_trouble {
  padding: 40px 0;
  width: 730px;
  margin: 0 auto;
}

.so_trouble_title {
  text-align: center;
  font-weight: bold;
  color: #00224c;
  font-size: 22px;
  margin-bottom: 40px;
}

.so_trouble_title br {
  display: none;
}

.so_trouble_list {
  padding: 20px 40px 40px;
  background: #ffefda;
  border: 1px solid #f2eade;
  margin-bottom: 60px;
}

.so_trouble_item {
  border-bottom: 1px dotted #999;
  padding: 25px 0 20px 50px;
  position: relative;
  font-weight: bold;
  color: #00224c;
  font-size: 16px;
  letter-spacing: .05em;
}

.so_trouble_item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 22px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00224c;
  border: 5px solid #fff;
}

/******** questions *******/

.questions_list {
  margin-bottom: 100px;
}

.questions_item {
  padding: 0 30px 40px;
  margin-bottom: 40px;
  font-size: 16px;
  border-bottom: 1px solid #aaaaaa;
}

.questions_item_q {
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  padding-left: 50px;
}

.questions_item_a {
  position: relative;
  padding-left: 50px;
}

.questions_item_q:before,
.questions_item_a:before {
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -10px;
}

.questions_item_q:before {
  content: 'Q';
  background: #103d7a;
}

.questions_item_a:before {
  content: 'A';
  background: #ff9606;
}


/******** company profile *******/

.companyProfile_tagline {
  background: url(../img/company_profile.png) no-repeat;
  background-size: cover;
}

.companyProfile_tagline span {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .2em;
}

.companyProfile {
  padding: 60px 0;
}

.companyProfile_item {
  padding: 20px 0 20px 170px;
  margin-bottom: 30px;
  line-height: 2.3;
  position: relative;
}

.companyProfile_item:before {
  background: #103d7a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 80px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.companyProfile_item-1:before {
  content: '1';
}

.companyProfile_item-2:before {
  content: '2';
}

.companyProfile_item-3:before {
  content: '3';
}

.memberProfile {
  margin-bottom: 40px;
}

.profile_list_overall {
  overflow: hidden;
  height: 300px;
  position: relative;
}

.profile_list_left {
  position: absolute;
  left: 0;
  margin-left: -85px;
  width: 50%;
  background: #05234c;
  color: #fff;
  height: 100%;
}

.profile_list_left_name {
  padding: 100px 80px 0 0;
  position: absolute;
  right: 0;
}

.profile_list_left h4 {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: .08em;
  text-align: left;
}

.profile_list_left h4 span {
  display: block;
  font-size: 11px;
  margin-top: 10px;
  letter-spacing: .3em;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.profile_list_left p {
  color: #fff;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 16px;
  letter-spacing: .3em;
  border-top: 1px solid #fff;
  text-align: right;
  position: absolute;
  right: 80px;
  padding-top: 18px;
  top: 160px;
  width: 100%;
}

.profile_list_right {
  float: right;
  width: 50%;
}

.profile_list_right p {
  line-height: 2.2;
}

.profile_list_right span {
  color: #103d7a;
  font-weight: bold;
}

.profile_list_message {
  padding: 40px 30px 80px;
  line-height: 2.2;
}

.profile_list_message_title {
  color: #103d7a;
  font-weight: bold;
}

.companyProfile_overall {
  width: 660px;
  margin: 0 auto 80px;
}

.companyProfile_overall_content {
  padding: 40px 0 40px 130px;
  font-size: 16px;
}

.companyProfile_overall_item {
  margin-bottom: 15px;
}

.companyProfile_overall_item span {
  color: #103d7a;
  font-weight: bold;
  margin-right: 40px;
}

/******** antemortem measure *******/

.am_pageTop {
  height: 230px;
  background: #d7e4e0;
  position: relative;
}

.am_pageTop_bg {
  background: url(../img/antemortem_measures_top.png) no-repeat left top;
  height: 230px;
  width: 500px;
  position: absolute;
  right: 50%;
  margin-right: 150px;
}

.am_pageTop_title {
  font-size: 24px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: .25em;
  position: absolute;
  right: 50%;
  margin-right: -335px;
  text-align: right;
  top: 80px;
}

.am_pageTop_title span {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

.am_intro {
  padding: 20px 0 40px;
}

.am_intro .wrapper {
  padding: 0 30px;
}

.am_intro_text {
  line-height: 2;
}

.am_features {
  margin-bottom: 80px;
}

.am_features .c-halfLayout {
  height: 426px;
}

.am_features_1 {
  background: url(../img/am_features_1.png) no-repeat;
  background-size: cover;
}

.am_features_2 {
  background: url(../img/am_features_2.png) no-repeat;
  background-size: cover;
}

.am_features h3 span {
  background: rgba(255, 255, 255, .2);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  padding-left: 6px;
}

.am_features .c-halfLayout_right_sentence {
  padding: 80px 0 0 20px;
}

.am_features .c-halfLayout_left_sentence {
  padding: 120px 20px 0 0;
}

.am_step {
  margin-bottom: 80px;
}

/* step list component */

.c-step_list {
  padding-left: 50px;
}

.c-step_item {
  position: relative;
  padding-left: 120px;
  margin-bottom: 40px;
}

.c-step_item_num {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  background: #114183;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: .07em;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.c-step_item_num-l {
  height: 110px;
}

.c-step_item_num:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 45px solid transparent;
  border-top: 18px solid #114183;
}

.c-step_item_num span {
  font-size: 24px;
  margin-top: 5px;
  display: block;
}

.c-step_item_title {
  color: #00224c;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: .08em;
}

.c-step_item_text {
  line-height: 2;
}


/******** inheritance tax return *******/

.itr {
  height: 426px;
}

.itr_bg {
  background: url(../img/itr_bg.png) no-repeat;
  background-size: cover;
}

.itr .c-halfLayout_left_sentence {
  padding: 120px 20px 0 0;
}

.itr_step {
  margin-bottom: 80px;
}


.itr_step .c-step_item {
  margin-bottom: 60px;
}

/******** price list *******/

.pl_intro {
  padding: 20px 0;
}

.pl_intro .wrapper {
  padding: 0 30px;
}

.pl_intro_text {
  line-height: 2.2;
}

.pl_table {
  margin: 40px 0;
}

.pl_table th,
.pl_table td {
  padding: 20px 0;
  font-size: 18px;
  color: #00224c;
  letter-spacing: .1em;
}

.pl_table td {
  border-bottom: 1px solid #626262;
}

.pl_table_content {
  padding: 0 100px;
}

.pl_table_upper {
  width: 100%;
  margin-bottom: 50px;
}

.pl_table_upper thead th {
  background: #ffca82;
  border-bottom: 1px solid #626262;
  font-weight: bold;
  padding: 10px;
}

.pl_table_upper thead th:first-child {
  border-right: 1px solid #626262;
}

.pl_table_upper tbody th {
  border-bottom: 1px solid #626262;
  border-right: 1px solid #626262;
  width: 50%;
  text-align: left;
  padding-left: 110px;
}

.pl_table_upper tbody td {
  color: #c00013;
  font-weight: bold;
  background: #fff4e5;
  padding-left: 160px;
}

.pl_table_upper tbody td span {
  color: #00224c;
  font-weight: normal;
}

.pl_table_lower {
  margin-bottom: 30px;
  width: 100%;
}

.pl_table_lower th {
  border: 1px solid #626262;
  border-left: 0;
  width: 50%;
  background: #ffca82;
  font-weight: bold;
}

.pl_table_lower td {
  border-top: 1px solid #626262;
  text-align: center;
  width: 50%;
}

.pl_table_lower td span {
  font-size: 16px;
}

.pl_table_notice {
  line-height: 2;
}

.otherPrice_content {
  padding: 0 30px;
}

.otherPrice_content p {
  line-height: 2.2;
  margin-bottom: 80px;
}


